@model IEnumerable<WhatABird.Models.BirdModel>
@{
    ViewData["Title"] = "Birds on my mind";
    const string FlagDK = "https://grynberg.dk/images/dannebrog.jpg";
    const string FlagGB = "https://grynberg.dk/images/unionjack.jpg";
    const string FlagVA = "https://grynberg.dk/images/vatican.jpg";
    int i = 0;
    int j = 0;
    string birdName = "";
    string imgId = "";
    string divId = "";
    string audioName = "";
    string language = "";
    string backCover = "https://grynberg.dk/images/BackCover.png";
    string imageSizeW = "50vw";
    string imageSizeH = "50vh";
    int columnsNumber = 0;
    int recordCount = Model.Count();
    string textSize = "60";
    string innerDiv = "";
    string cheat = ViewBag.CheatMode;
    string level = ViewBag.level;
    string imgTitle = "";
    string flag = "";
    int langC = (int)ViewBag.Lang;

    for (i = 2; i < Model.Count(); i++)
    {
        columnsNumber = i;
        if ((Model.Count() / i) < i - (recordCount / 10)) { break; }
    }
    if (level == "easypeasy") { imageSizeW = "100vw"; imageSizeH = "100vh"; textSize = "110"; }
    else if (level == "notsoeasy") { imageSizeW = "70vw"; imageSizeH = "70vh"; textSize = "90"; }
    else if (level == "hardy") { imageSizeW = "56vw"; imageSizeH = "56vh"; textSize = "80"; }
    else if (level == "impossible") { imageSizeW = "40vm"; imageSizeH = "40vh"; textSize = "55"; }
}

<table clas="gameTable" id="gameBord" class="table" border=0>
    @foreach (var itm in Model)
    {
        imgId = "img" + j.ToString();
        divId = "div" + j.ToString();
        innerDiv = "innerDiv" + j.ToString();

        if (itm.Id <= 0)
        {
            birdName = @itm.Name_dk; language = "dk";
            imgTitle = @itm.Name_en;
            audioName = itm.Name_reader_dk;
            if (ViewBag.Lang == 0) flag = FlagGB;
            if(ViewBag.Lang == 1 ) flag = FlagVA;
            if (ViewBag.Lang == 2) flag = FlagGB;
        }

        else
        {
            birdName = @itm.Name_en; language = "en";
            imgTitle = @itm.Name_dk; audioName = itm.Name_reader_en;
            if (ViewBag.Lang == 0) flag = FlagDK;
            if (ViewBag.Lang == 1) flag = FlagDK;
            if (ViewBag.Lang == 2) flag = FlagVA;
        }
        if (cheat == "no")
        {
            birdName = "";
            imgTitle = "";
        }

        if (i == 0)
        {
            @:<tr>
        }
        <td style="font-size:@textSize%">
        <div class="animPic" id="@divId" width="@imageSizeW" height="@imageSizeH"><p>
        <img class="BirdImg" id="@imgId" width="@imageSizeW" height="@imageSizeH" src="@Html.DisplayFor(birdImage=> backCover)"
        onclick="flipImage('@imgId','@itm.Imageurl','@audioName','@cheat')" lang='@language' flipped="n" bird-voice="@itm.Birdsong" state="unclicked"
        latinName="@itm.Latin_name" /><div id="innerDiv"><p><div class="toollabel">@birdName<span class="toollabeltext"><img src="@flag" />@imgTitle</span>
        </div></div></div></td>

        i++;
        j++;

        if ((Model.Count() == j) || (i == columnsNumber))
        {
            @:</tr>
        }
        i = i % columnsNumber;
     }

</table>
<div><b>Number of hits: <label id="hit" data-const="0">0 </label> out of <label id="trial" data-const="0">0</label> trials</b></div>